<script type="text/x-template" id="v-agenda">
    <div>
        <q-timeline class="oval-width q-mx-auto grey-4">

            <q-timeline-entry subtitle="9:30 - 10:00 / Coffee & reception" icon="local_cafe" color="grey-4" />

            <q-timeline-entry subtitle="10:00 - 10:15" title="Welcome and Context" color="grey-4">
                <q-chip square color="grey-2" size="sm" icon="group" class="q-ma-none q-mb-sm">Dr. Marc Duranton and Dr. Gregorio Ameyugo</q-chip>
            </q-timeline-entry>

            <q-timeline-entry subtitle="10:15 - 11:10" title="The Open Trustworthy Virtual Assistant Initiative" color="blue-grey-4">
                <q-chip square color="grey-2" size="sm" icon="person" class="q-ma-none q-mb-sm">Prof. Monica Lam</q-chip>
                <p>This talk presents an overview of the open virtual assistant initiative: the motivation, the team, the architecture of trustworthy assistants, the collaborative technology-based approach to building the best assistant, current results, and the roadmap.</p>
            </q-timeline-entry>

            <q-timeline-entry subtitle="11:10 - 11:30" title="A New Methodology for Building Conversational Agents"
            color="blue-grey-4">
                <q-chip square color="grey-2" size="sm" icon="person" class="q-ma-none q-mb-sm">Giovanni Campagna</q-chip>
                <p>This talk presents a new approach to creating linguistic interfaces that eliminates the reliance on manual annotations of real conversations which are  exorbitantly expensive, error-prone, and privacy invading.</p>
            </q-timeline-entry>

            <q-timeline-entry subtitle="11:30 - 11:50" title="The Open Voice-First Web" color="blue-grey-4">
                <q-chip square color="grey-2" size="sm" icon="person" class="q-ma-none q-mb-sm">Silei Xu</q-chip>
                <p>This talk describes how to create linguistic interfaces for the open web, a domain at a time, without entering custom skills in proprietary virtual assistants.</p>
            </q-timeline-entry>

            <q-timeline-entry subtitle="11:50-12:10" title="Privacy Protection with Federated Virtual Assistants"
                color="blue-grey-4">
                <q-chip square color="grey-2" size="sm" icon="person" class="q-ma-none q-mb-sm">Giovanni Campagna</q-chip>
                <p>This talk describes how federated virtual assistants can protect privacy with a remote execution protocol and flexible access control commands in natural language.</p>
            </q-timeline-entry>

            <q-timeline-entry subtitle="12:10-12:30" title="Multi-modal Voice and Graphical Interfaces" color="blue-grey-4">
                 <q-chip square color="grey-2" size="sm" icon="person" class="q-ma-none q-mb-sm">Michael Fischer</q-chip>
                <p>This talk discusses how to combine the best of both voice and GUI technology in virtual assistants.</p>
            </q-timeline-entry>

            <q-timeline-entry subtitle="12:30 - 13:30 / Lunch break" icon="restaurant" color="grey-4" />

            <q-timeline-entry subtitle="13:30 - 13:50" title="How Virtual Open Assistants are important in the European Landscape" color="blue-4">
                <div>
                    TBD.
                </div>
            </q-timeline-entry>

            <q-timeline-entry subtitle="13:50 - 14:10" title="Guardian Angels: protecting users with privacy-enhancing technologies" color="blue-4">
                <q-chip square color="grey-2" size="sm" icon="person" class="q-ma-none q-mb-sm">Dr. Adrian Popescu</q-chip>
            </q-timeline-entry>

            <q-timeline-entry subtitle="14:10 - 14:45" title="Industrial corner" color="blue-4">
                <div>
                    TBD.
                </div>
            </q-timeline-entry>

            <q-timeline-entry subtitle="14:45 - 15:15 / Coffee break" icon="local_cafe" color="grey-4" />

            <q-timeline-entry subtitle="15:15 - 16:15" title="Break Out Sessions" color="green-4">
                <div class="row q-col-gutter-x-xl">
                    <div class="col-12 col-md-6">
                        <q-badge color="green">Open discussion</q-badge>
                        <h6 class="text-subtitle1 q-mt-xs q-mb-md text-weight-bold">Making a Global Initiative</h6>
                        <q-chip square color="grey-2" size="sm" icon="group" class="q-ma-none q-mb-sm">Prof. Monica Lam, Jimmy Garcia-Meza, Dr. Marc Duranton</q-chip>
                        <p>How to create an international ecosystem of Open Virtual Assistants? Feedbacks, what can be done in Europe? An open discussion on collaboration with research teams and corporations.</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <q-badge color="orange">Tutorial</q-badge>
                        <h6 class="text-subtitle1 q-mt-xs q-mb-md text-weight-bold">Virtual Assistant Technology</h6>
                        <q-chip square color="grey-2" size="sm" icon="group" class="q-ma-none q-mb-sm">Giovanni Campagna, Silei Xu, Michael Fischer</q-chip>
                        <p>A tutorial on how to build on the Almond technology stack.</p>
                    </div>
                </div>
            </q-timeline-entry>

            <q-timeline-entry subtitle="16:15 - 16:30" title="Final Q&A and Closing Remarks" color="green-4">
                <q-chip square color="grey-2" size="sm" icon="group" class="q-ma-none q-mb-sm">Prof. Monica Lam, Dr. Marc Duranton</q-chip>
            </q-timeline-entry>

        </q-timeline>
    </div>
</script>
