<script type="text/x-template" id="v-registration">
    <div>
        <q-banner v-if="registration" :inline-actions="$q.screen.gt.sm" rounded class="bg-blue-1 q-mb-lg">
            <template v-slot:avatar>
                <q-icon name="link" color="blue-3" />
            </template>
            You can access your registration at any time using the following URL:<br>
            <em ref="url">{{ request.base_url }}#/r/{% raw %}{{ registration.uuid }}{% endraw %}/</em>
            <template v-slot:action>
                <q-btn flat label="Copy URL" @click="copyUrl" />
            </template>
        </q-banner>

        <q-form
            class="oval-width q-mx-auto"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="off"
            spellcheck="false"
            @submit="onSubmit"
            @reset="onReset">

            <q-timeline color="grey-4">
                <q-timeline-entry
                    icon="person"
                    subtitle="Contact information (required)">
                    <q-input filled v-model="formData.first_name" label="First name *"
                        :rules="[function (val) { return val && val.length > 0 }]" />
                    <q-input filled v-model="formData.last_name" label="Surname *"
                        :rules="[function (val) { return val && val.length > 0 }]" />
                    <q-input filled type="email" v-model="formData.email" label="Email *"
                        :rules="[function (val) { return val && val.length > 0 }]" />
                    <q-input filled v-model="formData.affiliation" label="Affiliation *"
                        :rules="[function (val) { return val && val.length > 0 }]" />
                    <q-input filled v-model="formData.fields.nationality" label="Nationality *"
                        :rules="[function (val) { return val && val.length > 0 }]" />
                    <q-checkbox v-model="formData.visa_requested" label="Check this box if you need a Visa letter to attend the workshop." />
                </q-timeline-entry>

                <q-timeline-entry
                    icon="restaurant"
                    subtitle="Dietary requirements and food allergies">
                    <q-input filled v-model="formData.dietary_requirements" label="Do you have special dietary requirements or food allergies?" />
                </q-timeline-entry>

                <q-timeline-entry
                    icon="location_on"
                    subtitle="Address">
                    <p>Non mandatory. We might use this to send you relevant information. We will <strong>never</strong> share this information with third-parties.</p>
                    <div class="q-gutter-md q-mt-md">
                        <q-input autogrow filled v-model="formData.address" label="Address" />
                        <div class="row">
                            <div class="col-4 q-pr-md">
                                <q-input filled v-model="formData.zip_code" label="ZIP code" />
                            </div>
                            <div class="col-8">
                                <q-input filled v-model="formData.city" label="City" />
                            </div>
                        </div>
                        <q-input filled v-model="formData.country_raw" label="Country" />
                    </div>
                </q-timeline-entry>

                <q-timeline-entry
                    icon="airplay"
                    subtitle="Break Out Sessions">
                    <p>In the afternoon (15:15 - 16:15) we will be organizing two break out sessions at the same time. Could you please indicate which one of the two sessions you would like to attend?</p>
                    <q-radio v-model="formData.fields.break_out_session" val="discussion" label="Making a Global Initiative (open discussion)" />
                    <q-radio v-model="formData.fields.break_out_session" val="tutorial" label="Virtual Assistant Technology (tutorial)" />
                </q-timeline-entry>

                <q-timeline-entry
                    icon="alternate_email"
                    subtitle="Virtual Assistant Technology">
                    <div class="q-gutter-md q-mt-md">
                        <q-input filled
                            type="textarea"
                            v-model="formData.fields.tech_comments"
                            label="What are you expecting from virtual assistant technology?" />
                        <q-checkbox v-model="formData.fields.tech_interest" label="Check this box if you are interested in actively participating on the development of this technology." />
                    </div>
                </q-timeline-entry>

                <q-timeline-entry>
                    <q-btn :label="(registration) ? 'Update registration' : 'Register'" type="submit" color="primary" />
                    <q-btn v-if="!registration" label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
                </q-timeline-entry>
            </q-timeline>
        </q-form>
    </div>
</script>
