body {
  background: #f9f6ef url(../images/background.jpg) no-repeat fixed center;
  background-size: cover;
  color: #2f2424;
  font-size: 15px;
  line-height: 1.6; }

  .oval-container {
    max-width: 860px; }

    .oval-tabs {
      color: #8c1515; }

      .oval-width {
        max-width: 650px; }

        .oval-logos img {
          height: 50px;
          max-height: 50px; }

.text-st-bright-red {
  color: #b1040e; }

  .text-wrap {
    white-space: inherit !important; }

    p a {
      color: #005eb8; }
      p a.inherit {
        color: inherit;
        text-decoration: underline; }
