body {
  background: #f9f6ef url(https://images.unsplash.com/photo-1519558260268-cde7e03a0152?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=70) no-repeat fixed center;
  background-size: cover;
  color: #2f2424;
  font-size: 15px;
  line-height: 1.6; }

  .oval-container {
    max-width: 860px; }

    .oval-tabs {
      color: #8c1515; }

      .oval-form {
        max-width: 600px; }

        .text-st-bright-red {
          color: #b1040e; }
