$stanford-red: #8c1515;
$stanford-bright-red: #b1040e;
$stanford-sandstone: #f9f6ef;
$stanford-chocolate: #2f2424;

$hipeac-blue: #005eb8;
$hipeac-yellow: #ffe800;
$hipeac-light-yellow: #fef9ab;
$hipeac-light-blue: lightblue;


body {
    background: $stanford-sandstone url(../images/background.jpg) no-repeat fixed center;
    background-size: cover;
    color: $stanford-chocolate;
    font-size: 15px;
    line-height: 1.6;
}

.oval-container {
    max-width: 860px;
}

.oval-tabs {
    color: $stanford-red;
}

.oval-width {
    max-width: 650px;
}

.oval-logos {
    img {
        max-height: 50px;
    }
}

.text-st-bright-red {
    color: $stanford-bright-red;
}

p a {
    color: $hipeac-blue;

    &.inherit {
        color: inherit;
        text-decoration: underline;
    }
}
