$stanford-red: #8c1515;
$stanford-bright-red: #b1040e;
$stanford-sandstone: #f9f6ef;
$stanford-chocolate: #2f2424;

$hipeac-blue: #005eb8;
$hipeac-yellow: #ffe800;
$hipeac-light-yellow: #fef9ab;
$hipeac-light-blue: lightblue;


body {
    background: $stanford-sandstone url(https://images.unsplash.com/photo-1519558260268-cde7e03a0152?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=70) no-repeat fixed center;
    background-size: cover;
    color: $stanford-chocolate;
    font-size: 15px;
    line-height: 1.6;
}

.oval-container {
    max-width: 860px;
}

.oval-tabs {
    color: $stanford-red;
}

.oval-form {
    max-width: 600px;
}

.text-st-bright-red {
    color: $stanford-bright-red;
}
